# This is Git's per-user configuration file.
[user]
name = Fai
email = lamkafai1997@gmail.com

[core]
editor = lvim

[difftool]
[diff]
tool = lvim
[difftool "lvim"]
cmd = lvim -d $LOCAL $REMOTE

[merge]
tool = vscode
[mergetool "vscode"]
cmd = code --wait $MERGED

[pull]
rebase = true

[init]
defaultBranch = main
